SECRET_KEY=django-insecure-6(pu^ym2#+5lmn)q+2o6su01vrs7(i=@$1@jj7(z5qs25^@9wm
DEBUG=False
POSTGRES_PASSWORD=theatre
POSTGRES_USER=theatre
POSTGRES_DB=theatre
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/theatre_db
